@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #242424;
}

/* Kategori navigasyonunun yatay kaydırılması için (isteğe bağlı, sadece ihtiyaç duyarsanız) */
/* Eğer kategoriler çok fazlaysa ve taşma olursa */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}